<h1>Select your role, <%= @name %>.</h1>
<% #binding.pry %>
<%= form_for(@user) do |f| %>
<%= f.label :requester =%>: <%= f.radio_button :role, 'requester' %> 
Donor: <%= f.radio_button :role, 'donor' %> 
<%= f.hidden_field :password, value: 'something secure in the future' %>


<%= f.submit "Select Role" %>
<% end %>

