<h1>Create your account:</h1>

<% #binding.pry %>
<%= form_for(@user, url: "/signup") do |f| %>
<%= f.label :name %>
<%= f.text_field :name %><br>
<%= f.label :password %>
<%= f.password_field :password %><br>
Role: <br>
<%= f.radio_button :role, 'requester' %> 
<%= f.label :role, 'requester' %> 
<%= f.radio_button :role, 'donor' %> 
<%= f.label :role, 'donor' %> <br>
<%= f.submit :submit %>
<% end %>


