    <h3>Here are your donations:</h3>
    <%# <% binding.pry %> 
        <% current_donor.requests.each do |r|%>
        <% #binding.pry%>
        <ul><strong><%= link_to r.name, edit_donor_request_path(current_donor, r), method: :edit%></strong>: 
        <%= r.quantity %> 
        <%= r.measurement %> 
        <%= link_to 'Edit', edit_donor_request_path(current_donor, r), method: :edit %>
        <%= button_to 'Delete', [current_donor, r], method: :delete, confirm: "Are you sure?" %></ul>
        <% end %>