<% if @donations.empty? %>
  <h3> You don't have any donations yet. </h3>
    <%= link_to 'Donate', 'requests/new_donation' %>
<% else %>

<h3>Here are your donations:</h3>
   
    <% current_donor.requests.each do |r|%>
    <% #binding.pry %>
    <ul><strong><%= link_to r.name, edit_donor_request_path(current_donor, r), method: :edit%></strong>: 
    <%= r.quantity %> 
    <%= r.measurement %> 
    <%= link_to 'Edit', edit_donor_request_path(current_donor, r), method: :edit %>
    <%= button_to 'Delete', [current_donor, r], method: :delete, confirm: "Are you sure?" %></ul>
    <% end %>

<% end %><br>


