<h2>Hello, 
    <% if @user %>
        <%= @user.name %>
    <% elsif current_donor %>
        <%= current_donor.name %> 
    <% else %>
        <%= current_requester.name %>! </h2><br>
    <% end %>
<% #binding.pry %>
<h3>Here are your requests:</h3>
<% current_requester.requests.each do |r|%>
    <ul><strong><%= link_to r.name %></strong>: 
    <%= r.quantity %> 
    <%= r.measurement %> 
    <%= r.fulfilled %>
    <%= link_to 'Edit', edit_requester_request_path(current_requester, r) %>
    <%= link_to 'Delete', requester_request_path(current_requester, r), method: :delete %></ul>
<% end %>

<%= link_to 'New Request', new_requester_request_path(current_requester) %>
