<%= render "requests/greeting" %>
<% #binding.pry %>
<% if current_requester %>
    <%= render 'requests/requesters_requests' %>
    <%# <%= link_to 'New Request', new_requester_request_path(current_requester.id) %> %>


<% elsif current_donor %>
    <% if current_donor.requests %>
        <%= render 'requests/show_donations' %>
        <%= link_to "Requester's needs", requests/to_fulfill_path %>
        <%= render 'requests/new_donation' %>
    <% elsif %> 
        <%= link_to "Requester's needs", requests/to_fulfill_path %>
        <%= render 'requests/new_donation' %>
    <% else %>
        <h3> You don't have any requests yet. </h3>
<% end %>