<h2>Hello, 
    <% if current_user %>
        <%= current_user.name %>
        <% else %>
        blah
        <% end %>
<% #binding.pry %>
<h3>Here are your requests:</h3>
<% current_requester.requests.each do |r|%>
    <ul><strong><%= r.name %></strong>: <%= r.quantity %> <%= r.measurement %> <%= r.fulfilled %></ul>
<% end %>
<% link_to '/requests/new' "Make new request" %>
