<%= render "requests/greeting" %>
<% #binding.pry %>
<% if current_requester %>
    <%= render 'requests/requesters_requests' %>

<% elsif current_donor %>
    <%= render 'requests/show_donations' %>
    <%= render 'requests/to_fulfill' %>
    <%= render 'requests/new_donation' %>

<% else %>
    <h3> You don't have any requests yet. </h3>
<% end %>

<% if current_requester %>
    <%= link_to 'New Request', new_requester_request_path(current_requester.id) %>
<% else %>
<% end %>

