<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>Foodbank3</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
  <nav> <% if logged_in? %>
        <%= link_to('Log out', logout_path, method: "delete") %>
        <% else %>
        <%= link_to('Sign Up', signup_path) %> <%= link_to('Log in', login_path) %><br>
        <%end%>
  </nav>

  <div>
  <%= flash[:error] %>
  <div>
<br>
        <%= yield %>
<br>
      <div class="wrapper">
      <%= link_to('Home', root_path) %><br>
  </body><br>

      <footer class="branding">
        <br><small>&copy; 2021 <strong>Foodbank3</strong></small>
      </footer>
    </div>

    <script src="https://merriam-webster.com/assets/mw/images/article/art-wap-article-main/cornucopia-horn-of-plenty-image-1597@2x.jpg"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
