<!DOCTYPE html>

  </head>
  <body>
  <% #binding.pry %>
  <nav> <% if logged_in? %>
        Hello, <%= current_person.name %>! You're logged in.<br>
        <%= link_to('Log out', logout_path, method: "delete") %><br>
        <%= link_to('View my account', requests_path) %><br>
        <%= link_to('Home', root_path) %><br>
        <% else %>
        You're not logged in.<br>
        <%= link_to('Sign Up', signup_path) %><br>
        <%= link_to('Log in', login_path) %><br>
        <%= link_to('Home', root_path) %>
        <%end%>
  </nav>

  <div>
  
<br>
        <%= yield %>
<br>
<br>
      <div class="wrapper">
    
  </body><br>

      <footer class="branding">
        <br><small>&copy; 2021 <strong>Foodbank3</strong></small>
      </footer>
    </div>

    <script src="https://merriam-webster.com/assets/mw/images/article/art-wap-article-main/cornucopia-horn-of-plenty-image-1597@2x.jpg"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
